body {
	background-color: white;
	font-family: sans-serif, Arial, Helvetica;
	color: #0C090A;
}

h1 {
	color: #0C090A;
}

p {
	color: #0C090A;
}

.node {
  stroke: #fff;
  stroke-width: 1px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

#info_area {
	display: inline-block;
	width: 30%;
}

#graph_area {
	width: 70%;
	height: auto;
}

#node_info {
	height: 350px;
	width: 100%;
	float: left;
	overflow-y: scroll;
	border: solid black 3px;
	padding: 10px
}

#related_node_info {
	height: 350px;
	width: 100%;
	float: left;
	overflow-y: scroll;
	border: solid black 3px;
	padding: 10px;
	margin-top: 10px;
}

#node_name, #related_node_name {
	font-size: 2em;
	margin-bottom: 16px;
}

#graph {
	width: 70%;
	height: 600px;
	float: right;
}

svg {
	top: 0px;
	left: 0px;
}